<%- include("../partials/header", {title: "Page d'inscription", style: "auth"}) %>

    <h1>Page d'inscription</h1>
    <form class="form" method="post" action="">
        <%- include("../components/input", {type:"text", name:"username"}) %>
            <%- include("../components/input", {type:"email", name:"email"}) %>
                <%- include("../components/input", {type:"password", name:"password"}) %>
                <br>
                    <button type="submit">Inscription</button>
    </form>
    <%- include("../partials/footer") %>